/* Default styles for the calculator */
body {
  margin: 0%;
  background-color: rgb(41, 41, 48);
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 0;
}

main {
  max-width: 100%;
  margin: 5% 20% 0px 20%;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  color: #fff;
  background-color: #0a082c;
}

/* Calculator Display Style*/
@keyframes borderFlash {
  from {
    border: solid 1px #cc1b1b;
  }

  to {
    border: solid 1px #333;
  }
}

#calculator-display {
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 24px;
  padding: 10px;
  border: solid 1px #cc1b1b;
  animation-name: borderFlash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: #000000;
}

#calculator-display:focus {
  background-color: #ccc;
}

/* Style for buttons flex container */
.calculator-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* General Style for all buttons*/
button {
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Style for Back button*/
button.back {
  color: #f1f1f1;
  background-color: #333;
}

.back:hover {
  color: #d3cfcf;
  background-color: #33333354;
}

/* Style number buttons */
.number {
  color: #000;
  background-color: #f1f1f1;
}

.number:hover {
  color: #000;
  background-color: #d1c3c3b2;
}

/* Style operator buttons */
.operator {
  color: #d3cfcf;
  background-color: #333;
}

.operator:hover {
  color: #d3cfcf;
  background-color: #33333354;
}

/* Style clear button */
.clear {
  color: #fff;
  background-color: #f44336;
}

.clear:hover {
  color: #fff;
  background-color: #f4433677;
}

/* Style equals button */
.equals {
  color: #fff;
  background-color: #4caf50;
}

.equals:hover {
  color: #fff;
  background-color: #1b661d;
}

/* Style for decimal button */
.decimal {
  background-color: #fff;
  color: #000;
}

.decimal:hover {
  background-color: #d1c3c3b2;
  color: #000;
}

/* Styles for small screens */
@media screen and (max-width: 480px) {
  button {
    width: 50%;
  }
}

/* Styles for medium screens */
@media screen and (min-width: 481px) and (max-width: 768px) {
  button {
    width: 33.33%;
  }
}

/* Styles for large screens */
@media screen and (min-width: 769px) {
  button {
    width: 25%;
  }
}